p {
  margin-top: 0;
  margin-bottom: 0;
}

/* comment comment comment */
body {
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  background-color: rgb(248, 248, 248);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}